#
# .gitignore: Ignore untracked files or directories.
#

# Library files
*.lib

# Binary files or directories
*.bin
*.bin/

# Backed files
*.bak

# Dependency files
*.dep

# Map files
*.map

# Listing files
*.lst

# Object files
*.o
*.d
*.crf

# Text files, ignored by default.
# Use 'git add' to track text files explicitly.
*.txt

# Keil project private configure files
*.uvgui.*
*.uvguix.*
*.uvoptx
*.uvopt

# Html files
*.html
*.htm

# Setting files
*.ini
keil_proj/symboltable_uuid.h
keil_proj/rom/Objects/*
keil_proj/rom/RTE/*
keil_proj/rom/BB3.uvprojx

# Ctags file
tags
